NEXT_PUBLIC_KEYCLOAK_OPENID_URL=http://192.168.1.52:9090/realms/shortener/protocol/openid-connect
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=your_client_id
NEXT_PUBLIC_KC_CLIENT_SECRET=your_client_secret
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/api/auth/callback
NEXT_PUBLIC_API_BASE_URL=http://localhost:8100